<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>One window solution</title>
  </head>
  <body>

    <div class="card" style="width: 18rem;">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body centre" >
          <h5 class="card-title">Customer Name: Rajiv Bogati</h5>
          <p class="card-text">Address: Kalopool</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Subscription: Active Days: 3/27</li>
          <li class="list-group-item">Service: Internet ACtive: (Yes) Clear TV: Yes</li>
          <li class="list-group-item">Device Status: Online</li>
          <li class="list-group-item">Port Status: Online</li>
          <li class="list-group-item">CPE PING STATUS: 0% Loss </li>
          <li class="list-group-item">CPE IP: 182.65.45.66</li>
          <li class="list-group-item">Last Access Accept: 12/3/2020 8:30 PM</li>
          <li class="list-group-item">Current Download: 25 Mb Upload: 0.01 Mb</li>
        </ul>
        <!-- <div class="card-body">
          <a href="#" class="card-link">Ticket Status</a>
          <a href="#" class="card-link">In Progress</a>
        </div> -->
      </div>

      <div class="card-group">
        <div class="card">
          <img src="#" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Internet</h5>
            <p class="card-text">OLT:</p>
            <p class="card-text">Slot No:</p>
            <p class="card-text">Port No: RF</p>
            <p class="card-text">Port Status: Up</p>
            <p class="card-text">Last Down: 3/12/2020 8:21 PM</p>
            <p class="card-text">CPE IP</p>
            <p class="card-text">MAC: 88b3.8598:8909</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Clear TV</h5>
            <p class="card-text">No. of Boxes: 4(Click for serial numbers)</p>

          </div>
        </div>

    <div class="card-group">
        <div class="card">
          <img src="#" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Recent Ticket</h5>
            <p class="card-text">Domain: Cable Blink</p>
            <p class="card-text">Department: RF</p>
            <p class="card-text">Case Registered Time: 3/12/2020</p>
            <p class="card-text">Handled By: Ramesh Upreti</p>
            <p class="card-text">ETR: About 1 hour</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Past Ticket</h5>
            <p class="card-text">Domain: Cable Blink</p>
            <p class="card-text">Department: L1</p>
            <p class="card-text">Case Registered Time: 1/12/2020</p>
            <p class="card-text">Handled By: Srijan Hamal</p>
            <p class="card-text">ETR: Not Required</p>
            <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>

          </div>
        </div>
       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>


